.profile__description {
  margin: 0;
	padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 16px;
}

@media screen and (max-width: 700px) {
  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 14px;
  }
}